In [1]:
import glob

import pandas as pd

list_of_files = glob.glob("/Users/rahulporuri/Downloads/SO-survey-data/*.csv")

In [2]:
print(list_of_files)

['/Users/rahulporuri/Downloads/SO-survey-data/2011_Stack_Overflow_Survey_Results.csv', '/Users/rahulporuri/Downloads/SO-survey-data/2012_Stack_Overflow_Survey_Results.csv', '/Users/rahulporuri/Downloads/SO-survey-data/2013 Stack Overflow Survey Responses.csv', '/Users/rahulporuri/Downloads/SO-survey-data/2014_Stack_Overflow_Survey_Responses.csv', '/Users/rahulporuri/Downloads/SO-survey-data/2015_Stack_Overflow_Developer_Survey_Responses.csv', '/Users/rahulporuri/Downloads/SO-survey-data/2016_Stack_Overflow_Survey_Responses.csv', '/Users/rahulporuri/Downloads/SO-survey-data/2017_Stack_Overflow_Survey_Responses.csv']

In [4]:
def get_column_data(filename, column_name):
    temp_df = pd.read_table(filename, sep=",", engine="python")
    return temp_df[column_name].astype("category")#.value_counts()

In [3]:
for file in list_of_files:
    temp_df = pd.read_table(file, sep=",", engine="python")
    col_wt_country_data = temp_df.columns.str.lower().str.contains("country") | temp_df.columns.str.lower().str.contains("region")
    country_data = temp_df[temp_df.columns[col_wt_country_data].get_values()]
    print(file.split("/")[-1].split("_")[0], country_data.columns)

2011 Index(['What Country or Region do you live in?'], dtype='object')
2012 Index(['What Country or Region do you live in?'], dtype='object')
2013 Stack Overflow Survey Responses.csv Index(['What Country or Region do you live in?'], dtype='object')
2014 Index(['What Country do you live in?'], dtype='object')
2015 Index([], dtype='object')
2016 Index(['country', 'un_subregion', 'so_region'], dtype='object')
2017 Index(['Country'], dtype='object')

In [5]:
df_2011 = get_column_data("/Users/rahulporuri/Downloads/SO-survey-data/2011_Stack_Overflow_Survey_Results.csv",
                           "What Country or Region do you live in?")

df_2012 = get_column_data("/Users/rahulporuri/Downloads/SO-survey-data/2012_Stack_Overflow_Survey_Results.csv",
                           "What Country or Region do you live in?")

df_2013 = get_column_data("/Users/rahulporuri/Downloads/SO-survey-data/2013 Stack Overflow Survey Responses.csv",
                           "What Country or Region do you live in?")

df_2014 = get_column_data("/Users/rahulporuri/Downloads/SO-survey-data/2014_Stack_Overflow_Survey_Responses.csv",
                           "What Country do you live in?")

df_2016 = get_column_data("/Users/rahulporuri/Downloads/SO-survey-data/2016_Stack_Overflow_Survey_Responses.csv",
                           "country")

df_2017 = get_column_data("/Users/rahulporuri/Downloads/SO-survey-data/2017_Stack_Overflow_Survey_Responses.csv",
                           "Country")

In [6]:
pd.concat([df_2011, df_2012, df_2013, df_2014, df_2016, df_2017], axis=1).dropna(axis=0, how="all")

,What Country or Region do you live in?,What Country or Region do you live in?,What Country or Region do you live in?,What Country do you live in?,country,Country
0,Response,Response,Response,Response,Afghanistan,United States
1,Africa,India,United Kingdom,India,Afghanistan,United Kingdom
2,Other Europe,Germany,United States of America,Thailand,Afghanistan,United Kingdom
3,India,United Kingdom,United States of America,Iran,Afghanistan,United States
4,Germany,France,Germany,Ukraine,Afghanistan,Switzerland
5,Other Asia,United States of America,United States of America,India,Afghanistan,New Zealand
6,Australia,Other Europe,United States of America,Denmark,Afghanistan,United States
7,United States of America,Other Europe,United States of America,India,Afghanistan,Poland
8,United States of America,Other Europe,United Kingdom,India,Albania,Colombia
9,Germany,Russia,Germany,United Kingdom,Albania,France
10,Germany,Other Europe,United States of America,New Zealand,Albania,United States
11,United Kingdom,United States of America,United States of America,Israel,Albania,Canada
12,United Kingdom,United Kingdom,United States of America,Saudi Arabia,Albania,United Kingdom
13,India,Other Europe,United Kingdom,Czech Republic,Albania,Germany
14,United Kingdom,Canada,United States of America,India,Albania,United Kingdom
15,Other Europe,Italy,United States of America,United Kingdom,Algeria,United States
16,United States of America,Italy,Germany,United States,Algeria,United Kingdom
17,Australia,Other Europe,Other Europe,Canada,Algeria,United States
18,Australia,Other Europe,Germany,United States,Algeria,United States
19,United States of America,India,Other Europe,Germany,Algeria,Greece
20,United States of America,United Kingdom,Middle East,United States,Algeria,Brazil
21,France,United States of America,United Kingdom,United Kingdom,Algeria,United Kingdom
22,United States of America,United Kingdom,United States of America,Canada,Algeria,Israel
23,Germany,Other Europe,Other Europe,United States,Algeria,Italy
24,United States of America,France,Other Europe,Germany,Algeria,Belgium
25,United States of America,United Kingdom,Other Europe,Germany,Algeria,United States
26,Australasia,United Kingdom,Italy,United Kingdom,Andorra,India
27,Canada,United States of America,Other Europe,United States,Andorra,United States
28,France,France,Canada,Canada,Andorra,Israel
29,United States of America,United Kingdom,United States of America,United States,Antigua & Deps,United States
...,...,...,...,...,...,...
55980,NaN,NaN,NaN,NaN,United States,NaN
55981,NaN,NaN,NaN,NaN,United States,NaN
55982,NaN,NaN,NaN,NaN,United States,NaN
55983,NaN,NaN,NaN,NaN,United States,NaN
55984,NaN,NaN,NaN,NaN,United States,NaN
55985,NaN,NaN,NaN,NaN,United States,NaN
55986,NaN,NaN,NaN,NaN,United States,NaN
55987,NaN,NaN,NaN,NaN,United States,NaN
55988,NaN,NaN,NaN,NaN,United States,NaN
55989,NaN,NaN,NaN,NaN,United States,NaN
55990,NaN,NaN,NaN,NaN,United States,NaN
55991,NaN,NaN,NaN,NaN,United States,NaN
55992,NaN,NaN,NaN,NaN,United States,NaN
55993,NaN,NaN,NaN,NaN,United States,NaN
55994,NaN,NaN,NaN,NaN,United States,NaN
55995,NaN,NaN,NaN,NaN,United States,NaN
55996,NaN,NaN,NaN,NaN,United States,NaN
55997,NaN,NaN,NaN,NaN,United States,NaN
55998,NaN,NaN,NaN,NaN,United States,NaN
55999,NaN,NaN,NaN,NaN,United States,NaN
56000,NaN,NaN,NaN,NaN,United States,NaN
56001,NaN,NaN,NaN,NaN,Uruguay,NaN
56002,NaN,NaN,NaN,NaN,Uruguay,NaN
56003,NaN,NaN,NaN,NaN,Uruguay,NaN
56004,NaN,NaN,NaN,NaN,Uruguay,NaN
56005,NaN,NaN,NaN,NaN,Uruguay,NaN
56006,NaN,NaN,NaN,NaN,Uzbekistan,NaN
56007,NaN,NaN,NaN,NaN,Uzbekistan,NaN
56008,NaN,NaN,NaN,NaN,Venezuela,NaN
56009,NaN,NaN,NaN,NaN,Vietnam,NaN

In [7]:
for file in list_of_files:
    temp_df = pd.read_table(file, sep=",", engine="python")
    col_wt_country_data = temp_df.columns.str.lower().str.contains("gender") | temp_df.columns.str.lower().str.contains("sex")
    country_data = temp_df[temp_df.columns[col_wt_country_data].get_values()]
    print(file.split("/")[-1].split("_")[0], country_data.columns)

2011 Index([], dtype='object')
2012 Index([], dtype='object')
2013 Stack Overflow Survey Responses.csv Index([], dtype='object')
2014 Index(['What is your gender?'], dtype='object')
2015 Index([], dtype='object')
2016 Index(['gender'], dtype='object')
2017 Index(['Gender'], dtype='object')

In [8]:
df_2014 = get_column_data("/Users/rahulporuri/Downloads/SO-survey-data/2014_Stack_Overflow_Survey_Responses.csv",
                           "What is your gender?")

df_2016 = get_column_data("/Users/rahulporuri/Downloads/SO-survey-data/2016_Stack_Overflow_Survey_Responses.csv",
                           "gender")

df_2017 = get_column_data("/Users/rahulporuri/Downloads/SO-survey-data/2017_Stack_Overflow_Survey_Responses.csv",
                           "Gender")

In [9]:
pd.concat([df_2014, df_2016, df_2017], axis=1)

         What is your gender?                  gender  Gender
0                    Response                    Male    Male
1                      Female                    Male    Male
2                        Male                     NaN    Male
3                        Male                  Female    Male
4                        Male  Prefer not to disclose     NaN
5                        Male  Prefer not to disclose     NaN
6                        Male                   Other    Male
7                        Male                    Male    Male
8                        Male                   Other    Male
9                        Male                    Male    Male
10                       Male  Prefer not to disclose  Female
11                       Male                    Male     NaN
12     Prefer not to disclose                  Female    Male
13                       Male                    Male  Female
14                       Male                    Male    Male
15                       Male                    Male    Male
16                        NaN                    Male    Male
17                        NaN                    Male    Male
18                       Male                    Male     NaN
19                       Male                    Male    Male
20                     Female                    Male     NaN
21                     Female                    Male    Male
22                       Male                    Male    Male
23                       Male                    Male    Male
24                       Male                    Male     NaN
25                       Male                    Male    Male
26                       Male                    Male     NaN
27                       Male                     NaN     NaN
28                     Female                  Female    Male
29                       Male                    Male     NaN
...                       ...                     ...     ...
55995                     NaN                    Male     NaN
55996                     NaN                    Male     NaN
55997                     NaN                    Male     NaN
55998                     NaN                    Male     NaN
55999                     NaN                    Male     NaN
56000                     NaN                    Male     NaN
56001                     NaN                    Male     NaN
56002                     NaN                    Male     NaN
56003                     NaN                    Male     NaN
56004                     NaN                    Male     NaN
56005                     NaN                    Male     NaN
56006                     NaN                    Male     NaN
56007                     NaN                    Male     NaN
56008                     NaN                    Male     NaN
56009                     NaN                    Male     NaN
56011                     NaN                    Male     NaN
56012                     NaN                    Male     NaN
56014                     NaN                    Male     NaN
56015                     NaN                    Male     NaN
56016                     NaN                    Male     NaN
56017                     NaN                    Male     NaN
56018                     NaN                  Female     NaN
56019                     NaN                    Male     NaN
56020                     NaN                    Male     NaN
56022                     NaN                    Male     NaN
56024                     NaN                    Male     NaN
56025                     NaN                    Male     NaN
56026                     NaN                    Male     NaN
56028                     NaN                    Male     NaN
56029                     NaN                    Male     NaN

[55892 rows x 3 columns]

In [10]:
for file in list_of_files:
    temp_df = pd.read_table(file, sep=",", engine="python")
    col_wt_country_data = temp_df.columns.str.lower().str.contains("age")
    country_data = temp_df[temp_df.columns[col_wt_country_data].get_values()]
    print(file.split("/")[-1].split("_")[0], country_data.columns)

2011 Index(['Which languages are you proficient in?'], dtype='object')
2012 Index(['Which languages are you proficient in?'], dtype='object')
2013 Stack Overflow Survey Responses.csv Index(['In an average week, how do you spend your time?', 'Which of the following languages or technologies have you used significantly in the past year?'], dtype='object')
2014 Index(['In an average week, how do you spend your time at work?',
       'Which of the following languages or technologies have you used significantly in the past year?',
       'In receiving an email about a job opportunity, what attributes of the message would make you more likely to respond?'],
      dtype='object')
2015 Index([], dtype='object')
2016 Index(['age_range', 'age_midpoint'], dtype='object')
2017 Index(['HaveWorkedLanguage', 'WantWorkLanguage', 'ProjectManagement',
       'EquipmentSatisfiedStorage', 'StackOverflowCompanyPage'],
      dtype='object')

In [13]:
for file in list_of_files:
    temp_df = pd.read_table(file, sep=",", engine="python")
    col_wt_country_data = temp_df.columns.str.lower().str.contains("salary") | temp_df.columns.str.lower().str.contains("compensation")
    country_data = temp_df[temp_df.columns[col_wt_country_data].get_values()]
    print(file.split("/")[-1].split("_")[0], country_data.columns)

2011 Index(['Including bonus, what is your annual compensation in USD?'], dtype='object')
2012 Index(['Including bonus, what is your annual compensation in USD?'], dtype='object')
2013 Stack Overflow Survey Responses.csv Index(['Including bonus, what is your annual compensation in USD?'], dtype='object')
2014 Index(['Including bonus, what is your annual compensation in USD?'], dtype='object')
2015 Index([], dtype='object')
2016 Index(['salary_range', 'salary_midpoint'], dtype='object')
2017 Index(['AssessJobCompensation', 'Salary', 'ExpectedSalary'], dtype='object')

In [15]:
df_2011 = get_column_data("/Users/rahulporuri/Downloads/SO-survey-data/2011_Stack_Overflow_Survey_Results.csv",
                           "Including bonus, what is your annual compensation in USD?")

df_2012 = get_column_data("/Users/rahulporuri/Downloads/SO-survey-data/2012_Stack_Overflow_Survey_Results.csv",
                           "Including bonus, what is your annual compensation in USD?")

df_2013 = get_column_data("/Users/rahulporuri/Downloads/SO-survey-data/2013 Stack Overflow Survey Responses.csv",
                           "Including bonus, what is your annual compensation in USD?")

df_2014 = get_column_data("/Users/rahulporuri/Downloads/SO-survey-data/2014_Stack_Overflow_Survey_Responses.csv",
                           "Including bonus, what is your annual compensation in USD?")

df_2016 = get_column_data("/Users/rahulporuri/Downloads/SO-survey-data/2016_Stack_Overflow_Survey_Responses.csv",
                           "salary_range")

df_2017 = get_column_data("/Users/rahulporuri/Downloads/SO-survey-data/2017_Stack_Overflow_Survey_Responses.csv",
                           "Salary")

In [17]:
pd.concat([df_2011, df_2012, df_2013, df_2014, df_2016, df_2017], axis=1).dropna(axis=0, how="all")

,"Including bonus, what is your annual compensation in USD?","Including bonus, what is your annual compensation in USD?","Including bonus, what is your annual compensation in USD?","Including bonus, what is your annual compensation in USD?",salary_range,Salary
0,Response,Response,Response,Response,NaN,NaN
1,Student / Unemployed,"<$20,000","$80,000 - $100,000","$20,000 - $40,000","$40,000 - $50,000",NaN
2,NaN,"$20,000 - $40,000","$20,000 - $40,000",Student / Unemployed,NaN,113750.0
3,NaN,"$20,000 - $40,000","$120,000 - $140,000","<$20,000","Less than $10,000",NaN
4,Student / Unemployed,"$20,000 - $40,000",NaN,Student / Unemployed,NaN,NaN
5,"$80,000 - $100,000",Student / Unemployed,NaN,Rather not say,NaN,NaN
6,NaN,"$40,000 - $60,000",Student / Unemployed,"$80,000 - $100,000","More than $200,000",NaN
7,"$20,000 - $40,000",NaN,Rather not say,"<$20,000","Less than $10,000",NaN
8,"$80,000 - $100,000",Student / Unemployed,"$80,000 - $100,000","<$20,000",NaN,NaN
9,"$80,000 - $100,000","$20,000 - $40,000",NaN,"<$20,000","Less than $10,000",NaN
10,NaN,NaN,NaN,"$60,000 - $80,000","Less than $10,000",NaN
11,"$60,000 - $80,000",Rather not say,Student / Unemployed,"$40,000 - $60,000","$10,000 - $20,000",NaN
12,"$40,000 - $60,000","$40,000 - $60,000",">$140,000",Rather not say,"Less than $10,000",NaN
13,"$20,000 - $40,000",Rather not say,"$80,000 - $100,000","$40,000 - $60,000","Less than $10,000",NaN
14,"$40,000 - $60,000","$40,000 - $60,000",">$140,000",Student / Unemployed,"$10,000 - $20,000",100000.0
15,Student / Unemployed,NaN,Rather not say,Student / Unemployed,NaN,NaN
16,"$80,000 - $100,000",Rather not say,"<$20,000",NaN,Rather not say,NaN
17,">$140,000",Rather not say,NaN,NaN,NaN,130000.0
18,"$80,000 - $100,000","$40,000 - $60,000","$40,000 - $60,000",">$140,000",NaN,82500.0
19,Student / Unemployed,Rather not say,"$20,000 - $40,000",Student / Unemployed,"$10,000 - $20,000",NaN
20,"$60,000 - $80,000",NaN,NaN,"$100,000 - $120,000","$90,000 - $100,000",NaN
21,"$40,000 - $60,000","$40,000 - $60,000","$40,000 - $60,000",Student / Unemployed,"Less than $10,000",NaN
22,"$60,000 - $80,000","<$20,000",NaN,"$60,000 - $80,000",NaN,100764.0
23,"$80,000 - $100,000","<$20,000",NaN,"$100,000 - $120,000","Less than $10,000",NaN
24,"$40,000 - $60,000","<$20,000",Student / Unemployed,NaN,Unemployed,NaN
25,"$100,000 - $120,000","$40,000 - $60,000",Rather not say,"<$20,000",NaN,175000.0
26,"$100,000 - $120,000",Rather not say,NaN,"$60,000 - $80,000","$40,000 - $50,000",NaN
27,"$40,000 - $60,000","$40,000 - $60,000",NaN,"$80,000 - $100,000",NaN,NaN
28,"$20,000 - $40,000",NaN,"$60,000 - $80,000",Student / Unemployed,"$30,000 - $40,000",NaN
29,NaN,Student / Unemployed,"$60,000 - $80,000",Rather not say,NaN,NaN
...,...,...,...,...,...,...
55988,NaN,NaN,NaN,NaN,"More than $200,000",NaN
55989,NaN,NaN,NaN,NaN,"$80,000 - $90,000",NaN
55990,NaN,NaN,NaN,NaN,"$110,000 - $120,000",NaN
55991,NaN,NaN,NaN,NaN,"$120,000 - $130,000",NaN
55992,NaN,NaN,NaN,NaN,"$90,000 - $100,000",NaN
55993,NaN,NaN,NaN,NaN,"$90,000 - $100,000",NaN
55994,NaN,NaN,NaN,NaN,"$140,000 - $150,000",NaN
55996,NaN,NaN,NaN,NaN,"$60,000 - $70,000",NaN
55997,NaN,NaN,NaN,NaN,"$130,000 - $140,000",NaN
55998,NaN,NaN,NaN,NaN,"$100,000 - $110,000",NaN
55999,NaN,NaN,NaN,NaN,"$40,000 - $50,000",NaN
56000,NaN,NaN,NaN,NaN,"$60,000 - $70,000",NaN
56001,NaN,NaN,NaN,NaN,"$20,000 - $30,000",NaN
56002,NaN,NaN,NaN,NaN,"$30,000 - $40,000",NaN
56003,NaN,NaN,NaN,NaN,"$40,000 - $50,000",NaN
56004,NaN,NaN,NaN,NaN,"$40,000 - $50,000",NaN
56005,NaN,NaN,NaN,NaN,"$110,000 - $120,000",NaN
56006,NaN,NaN,NaN,NaN,"Less than $10,000",NaN
56007,NaN,NaN,NaN,NaN,"Less than $10,000",NaN
56008,NaN,NaN,NaN,NaN,"Less than $10,000",NaN
56009,NaN,NaN,NaN,NaN,"Less than $10,000",NaN
56011,NaN,NaN,NaN,NaN,"$30,000 - $40,000",NaN
56014,NaN,NaN,NaN,NaN,Rather not say,NaN
56016,NaN,NaN,NaN,NaN,"More than $200,000",NaN
56017,NaN,NaN,NaN,NaN,"More than $200,000",NaN
56019,NaN,NaN,NaN,NaN,"$50,000 - $60,000",NaN
56022,NaN,NaN,NaN,NaN,"$70,000 - $80,000",NaN
56024,NaN,NaN,NaN,NaN,"Less than $10,000",NaN
56026,NaN,NaN,NaN,NaN,"Less than $10,000",NaN
56029,NaN,NaN,NaN,NaN,"$50,000 - $60,000",NaN